.add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 35px;
}

@media screen and (max-width: 1200px) {
  .add {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.add .picture {
  width: 30%;
}

.add .picture .useLink {
  text-decoration: underline;
}

.add .picture .useLink:hover {
  cursor: pointer;
}

.add .picture .addPictureLink {
  text-align: left;
}

.add .picture .addPictureLink .addPictureLabel {
  margin-bottom: 0;
}

.add .picture .addPictureLink .addPictureInput {
  width: 300px;
}

.add .words {
  width: 70%;
  text-align: left;
  padding-left: 20%;
}

@media screen and (max-width: 800px) {
  .add .words {
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .add .words {
    padding-left: 0;
  }
}

.add .words input {
  width: 600px;
  border-radius: 3px;
  border: 1px solid black;
  padding-left: 5px;
}

@media screen and (max-width: 1200px) {
  .add .words input {
    width: 90%;
  }
}

.add .words .label {
  margin-bottom: 0;
}

.add .words .addTitle .titleInput {
  height: 35px;
}

@media screen and (max-width: 800px) {
  .add .words .addTitle .titleInput {
    height: 43px;
  }
}

.add .words .addDescription {
  margin-top: 16px;
}

.add .words .addDescription .descriptionInput {
  height: 80px;
}

.add .words .addIngredients {
  margin-top: 16px;
}

.add .words .addIngredients .ingredientsInput {
  width: 600px;
  height: 100px;
  border-radius: 3px;
  padding-left: 5px;
  padding-top: 5px;
}

@media screen and (max-width: 1200px) {
  .add .words .addIngredients .ingredientsInput {
    width: 90%;
  }
}

.add .words .addDirections {
  margin-top: 16px;
}

.add .words .addDirections .directionsInput {
  width: 600px;
  height: 140px;
  border-radius: 3px;
  padding-left: 5px;
  padding-top: 5px;
  margin-bottom: 20px;
}

@media screen and (max-width: 1200px) {
  .add .words .addDirections .directionsInput {
    width: 90%;
  }
}

.add .words .buttons .btn-success {
  margin-right: 20px;
}

.add .words .buttons .btn {
  width: 200px;
  height: 45px;
}

.add .words .cancel-button {
  color: white;
}

.add .words .cancel-button:hover {
  text-decoration: none;
}
