.delete-modal .modal-content {
  top: 200px;
  height: 175px;
}

.delete-modal .modal-body {
  font-size: 23px;
  text-align: center;
  padding-top: 40px;
}

.delete-modal .modal-footer {
  border-top: none;
}

.delete-modal .modal-footer button:first-child {
  background-color: #2bc1c4;
  width: 225px;
  height: 50px;
  border-radius: 0;
  border: none;
}

.delete-modal .modal-footer button:first-child:hover {
  background-color: #24999b;
}

.delete-modal .modal-footer button:last-child {
  background-color: #d0021b;
  width: 225px;
  height: 50px;
  border-radius: 0;
}

.delete-modal .modal-footer button:last-child:hover {
  background-color: #a1081a;
}
