.navbar-brand img {
  width: 85px;
}

.navbar-nav {
  font-size: 23px;
  margin-top: 25px;
}

.login-logo img {
  height: 55px;
  width: 55px;
  margin-left: 150px;
}

.navbar {
  max-height: 85px;
  padding-bottom: 10px;
  padding-top: 10px;
}
