.navbar-brand img {
  width: 85px;
}

.center-logo {
  margin: 0 auto;
}

.center-logo img {
  width: 250px;
}

.navbar-nav {
  font-size: 23px;
  margin-top: 25px;
}

.login-logo img {
  height: 55px;
  width: 55px;
}

@media screen and (min-width: 1000px) {
  .navbar {
    max-height: 85px;
    padding-bottom: 10px;
    padding-top: 10px;
  }
}

.dropdown:hover {
  cursor: pointer;
}

.dropdown-toggle {
  width: 55px;
  height: 55px;
}

.dropdown-menu {
  left: -89px;
  margin-top: 12px;
}

@media screen and (max-width: 600px) {
  .modal-dialog,
  .modal-content {
    margin: 0;
    width: 100%;
  }
}

.right-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  font-size: 23px;
  margin-top: 20px;
  padding-left: 10px;
}

@media screen and (max-width: 991px) {
  .right-nav {
    display: none;
  }
}

.right-nav a {
  color: rgba(0, 0, 0, 0.548);
}

.right-nav-item a {
  padding-left: 3px;
}

.logout-logo img {
  height: 45px;
  width: 45px;
}
