@media screen and (min-width: 991px) {
  .navbar2 {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .dropdown,
  .logout-logo {
    display: none;
  }
}

@media screen and (max-width: 470px) {
  .navbar-toggler {
    position: absolute;
    right: 30px;
    top: 30px;
  }
}

@media screen and (max-width: 470px) {
  .center-logo {
    display: none;
  }
}
