.add {
  display: flex;
  margin-top: 35px;
  @media screen and (max-width: 1200px) {
    display: flex;
    flex-direction: column-reverse;
  }

  .picture {
    width: 30%;

    .useLink {
      text-decoration: underline;
    }
    .useLink:hover {
      cursor: pointer;
    }

    .addPictureLink {
      text-align: left;

      .addPictureLabel {
        margin-bottom: 0;
      }
      .addPictureInput {
        width: 300px;
      }
    }
  }

  .words {
    width: 70%;
    text-align: left;
    padding-left: 20%;

    @media screen and (max-width: 1200px) {
      padding-left: 0;
    }
    input {
      width: 600px;
      border-radius: 3px;
      border: 1px solid black;
      padding-left: 5px;
      @media screen and (max-width: 1200px) {
        width: 80%;
      }
    }
    .label {
      margin-bottom: 0;
    }

    .addTitle {
      .titleInput {
        height: 35px;
      }
    }

    .addDescription {
      margin-top: 16px;
      .descriptionInput {
        height: 80px;
      }
    }

    .addIngredients {
      margin-top: 16px;

      .ingredientsInput {
        width: 600px;
        height: 100px;
        border-radius: 3px;
        padding-left: 5px;
        padding-top: 5px;
        @media screen and (max-width: 1200px) {
          width: 80%;
        }
      }
    }

    .addDirections {
      margin-top: 16px;
      .directionsInput {
        width: 600px;
        height: 140px;
        border-radius: 3px;
        padding-left: 5px;
        padding-top: 5px;
        margin-bottom: 20px;
        @media screen and (max-width: 1200px) {
          width: 100%;
        }
      }
    }
    .buttons {
      .btn-success {
        margin-right: 20px;
      }
      .btn {
        width: 200px;
        height: 45px;
      }
    }

    .cancel-button {
      color: white;
    }
    .cancel-button:hover {
      text-decoration: none;
    }
  }
}
