.delete-modal {
  .modal-content {
    top: 200px;
    height: 175px;
  }
  .modal-body {
    font-size: 23px;
    text-align: center;
    padding-top: 40px;
  }

  .modal-footer {
    border-top: none;
    button:first-child {
      background-color: #2bc1c4;
      width: 225px;
      height: 50px;
      border-radius: 0;
      border: none;
    }
    button:first-child:hover {
      background-color: #24999b;
    }
    button:last-child {
      background-color: #d0021b;
      width: 225px;
      height: 50px;
      border-radius: 0;
    }
    button:last-child:hover {
      background-color: #a1081a;
    }
  }
}
