.navbar2 {
  @media screen and (min-width: 991px) {
    display: none;
  }
}

.dropdown,
.logout-logo {
  @media screen and (max-width: 991px) {
    display: none;
  }
}

.navbar-toggler {
  @media screen and (max-width: 470px) {
    position: absolute;
    right: 30px;
    top: 30px;
  }
}

.center-logo {
  @media screen and (max-width: 470px) {
    display: none;
  }
}
