.view-recipe {
  max-width: 900px;
  margin-top: 40px;

  .recipe-text {
    text-align: left;
    margin-left: 30px;
  }

  .directions-title {
    margin-top: 35px;
  }

  .specific-instruction {
    margin-bottom: 18px;
  }
}
